.TopheaderRight{
    display: flex;
    align-items: self-start;
    align-content: flex-end;
    float: right;
}
.MuiAppBar-colorPrimary {
    color: #fff!important;
    background-color: #1c2a48!important;
    margin-bottom: 600px!important;
}
.navbar-dark .navbar-nav .nav-link {
     color: white!important;
}
.MuiToolbar-root {
    margin-top: -15px!important;

}

.nav-item.dropdown:hover .dropdown-menu1{
    margin-top:-2px!important; ;
    display: block!important;
    width: 500%!important;
    cursor: pointer!important;
}
.dropdown-menu1:after{
    content: '';
    z-index: 200;
    position: absolute;
    top: 0;
    left: 1%;
    margin-top: -10px;
    margin-left: 110px;
    display: block;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid #3b465e;
    /*border-style: solid;*/
    /*border-width: 20px 20px 20px 20px;*/
    /*border-color:transparent #331f01 transparent transparent   ;*/
    transition: margin-left 0.4s ease-out;
}

h6{
    font-size: 16px!important;
}
ul li.subMenu:hover{
    color:  #4285F4!important;
    font-family: Roboto, sans-serif;

}
.Login,.SignUp{
    border-width: thin!important;
    border-style: solid!important;
    border-radius: 30px!important;
    border-color: #ff4444!important;
}
.Login:hover{
    background-color: #ff4444!important;
}
.SignUp:hover{
    background-color: #ff4444!important;
}
.socilaNetwork{
    cursor: pointer;
}
@media (max-width: 768px) {
    .headerRight{
        display: none!important;
    }
    .logo{
        text-align: center!important;
    }
}
.navbar {
    box-shadow:none!important;
}
.MuiList-padding{
    padding-top: 0!important;
}
.pink.darken-4 {
    background-color: #3b465e!important;
}
.dropdown-menu.darken-4 {
    background-color: #3b465e!important;
}
.menu-item img{
    display: block;
    margin: 0 auto 14px;
    width: 48px;
    transition: .2s ease-in-out;

}
.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0)!important;
    color: #2fe0bf !important;
    transition: .3s;

}
.dropdown-menu {
    min-width: 100rem!important;
}
.nav-item.dropdown:hover .dropdown-menu{
    margin-top: -10px!important;
    margin-left: 0!important;
    display: block;
}
.navbar .mega-dropdown .dropdown-menu.mega-menu {

    border-radius: 10px!important;
    margin-left: -25px!important;
}
